.template {
   font-family: 'Rowdies', cursive;
   background-image: url('./Img/fundo.png');
   background-repeat:round;
   height: 120vh;
   color: #1c2b6c;
}  

.text1-carrossel {
    font-size: 1.5em;
    padding: 100px 20px 0;
    
}

.text2-carrossel {
    font-size: 2.5em;
    padding: 0 0 20px 20px ;
}

.text3-carrossel {
    font-size: 1.5em;
    padding: 0 0 20px 20px ;
}

.div-text3{
    display: flex;
}

.text4-carrossel{
    font-size: 1.5em;
    margin-left: 5px;
    padding: 0 10px 0 10px;
    border: 3px solid #b22234;
    text-align: center;
}

.btn-home {
    color: #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b22234;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 84px;
    margin: 40px;
}

.btn-home a {
    text-decoration: none;
    color: #ffffff;
}

.btn-home:hover {
    background-color: #ffffff;
    border: 2px solid #b22234;
}

.btn-home:hover a {
    color: #b22234;
}

#btn-flutuante{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #b22234;
    width: 200px;
    height: 84px;
    border-radius: 40px;
    right: 5px;
    bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    cursor: pointer;
    text-align: center;
        
}
#btn-flutuante a{
    text-decoration: none;
    color: #ffffff;
}

#btn-flutuante:hover{
    background-color: #1c2b6c;
   
}


@media (max-width: 800px) {
    .template {
       display: flex;
       height: 50%;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       color: #b22234;
      
     } 
     .text4-carrossel{
        border: 3px solid #1c2b6c;
        
    }
}

