.primeira {
   font-family: 'Rowdies', cursive;
   background-color: #b22234;
   border-bottom:2px solid #b22234;
   
}

.coluna-esquerda-home {
    background-color: rgb(19, 19, 37);
    height: 100%;
    color: #fff;
    padding: 50px ;
    
}

.text1-carrossel {
    font-size: 1.5em;
    padding: 20px;
}

.text2-carrossel {
    font-size: 2.5em;
    padding: 0 0 20px 20px ;
}

.text3-carrossel {
    font-size: 1.5em;
    padding: 0 0 20px 20px ;
}

.div-text3{
    display: flex;
    
}

.text4-carrossel{
    font-size: 1.5em;
    margin-left: 5px;
    padding: 0 10px 0 10px;
    border: 3px solid #b22234;
    text-align: center;
    
}
.img-carrossel {
  height: 100%;
  width:800px;
}

.btn-home {
    color: #b22234;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #b22234;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 84px;
    margin: 50px 0 0 100px;
}

.btn-home a {
    text-decoration: none;
    color: #b22234;
}

.btn-home:hover {
    background-color: #b22234;
    border: 2px solid #ffffff;
}

.btn-home:hover a {
    color: #ffffff;
}

@media (max-width: 750px) {
    .img-carrossel {
        
        width:380px;
      }


}