.valores{
    padding:50px 60px;
    font-family: 'Rubik', sans-serif;
    background-image: url('./img/papel.jpg');
    background-size: cover;
    border-top: 2px solid #3c3b6e;
    
}
.valores>h1{
    font-family: 'Rowdies', cursive;
    font-size: 3rem;
    text-align: center;
}


.valores-h1{
    position: relative;
    font-family: 'Rowdies', cursive;
    font-size: 3rem;
    text-align: center;
    
}

.valores-h1::before{
    position: absolute;
    content: '';
    width: 95px;
    height: 5px;
    background-color: #3c3b6e;
    bottom: 4px;
}
.container-valores{
   
padding: 60px;
margin: 20px;
 
 
}

.text-valores{
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    color: #b22234;
    text-align: center;
}

.link-valores{
    padding: 0.5rem 2.5rem;
    background-color: #fff;
    border-radius: 20px;
    text-decoration: none;
    color: #b22234;
    font-weight: 500;
    
    

}
.link-valores:hover{
    color:#fff;
    background-color: #b22234;
}

.img-precos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-precos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

