.valores{
    padding:50px;
    background-color:#3c3b6e;
    font-family: 'Rubik', sans-serif;
}

.valores>h1{
    color: #ffffff;
    font-family: 'Rowdies', cursive;
    font-size: 30px;
    line-height: 1.8;
    border-bottom:2px solid #ffffff;
    width: 180px;
}

.container-valores{
   
    margin-top: 100px;
    
   
}

.text-valores{
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.link-valores{
    padding: 0.5rem 2.5rem;
    background-color: #fff;
    border-radius: 20px;
    text-decoration: none;
    color: #b22234;
    font-weight: 500;
    

}
.link-valores:hover{
    color:#fff;
    background-color: #b22234;
}


