*{
    margin: 0;
    padding: 0;
}

/* ----- Header ----- */

.header{
       background-color: #B92626;
       border-top: 10px solid #173174;
       position: relative;

}

.container{
    left: 0;
}

.div-logo{
    display: flex;
    flex-direction: column;
 
}

.logo{
    
    font-family: 'Italianno', cursive;
    font-size: 40px;
    text-decoration: none;
    color: #D9D9D9;
    left: 20px;
 
   
}

.text-logo{
    
    font-size: 13px;
    color: #D9D9D9;
    
    
}

.info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
  
}
.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px solid #FFFFFF;
    line-height: 1.8;
    
}


.nav-link:hover{
    color: #D9D9D9;
    border-bottom:2px solid #D9D9D9;
   
}

img{
    width: 100px;
    height: 100px;
    top:15px ;
    right: 10px;
    position: absolute;
}






