.comentarios{
padding: 50px 15px;

}

.comentarios>h1{
    color: #b22234;
    font-family: 'Rowdies', cursive;
    font-size: 2rem;
    margin: 20px 0 50px 0;
    text-align: center;
}

.comments-carrossel{
    font-family: 'Rubik', sans-serif;
    margin-left: 10%;
    width: 80%;
    padding-bottom: 50px;
    text-align: center;
    border-radius:20px;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.55);
}

.comment-p{
   padding:2rem;
   color: #a19797;
}


