.youtube-sessao{
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px 40px;
    border-top: 2px solid #3c3b6e;
}

.youtube-sessao h1{
    position: relative;
    font-family: 'Rowdies', cursive;
    font-size: 3rem;
    text-align: center;
   
}

.youtube-sessao h1::before{
    position: absolute;
    content: '';
    width: 95px;
    height: 5px;
    background-color: #3c3b6e;
    bottom: 4px;
}

.youtube-videos{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 50px;
}

.youtube-videos span{
    padding-top: 10px;
    font-family: 'Rowdies', cursive;
    font-size: 20px;
    border-bottom: 2px solid #3c3b6e;
    
}


.button-youtube{
color: #b22234;
font-weight: 700;
background-color: #ffffff;
border: 2px solid #b22234;
border-radius: 40px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 200px;
height: 84px;
margin-top: 50px;

}

.button-youtube:hover{
border: none;
color: #fff;
background-color: #72131e;


}


