.ebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    background-color: #c6c6c6;
    padding: 50px;
    font-family: 'Rowdies', cursive;
    
}
.forms-ebook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  
}

.ebook-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #72131e;
}

.button-ebook{
    color: #b22234 !important;
    font-weight: 700;
    background-color: #ffffff !important;
    border: 2px solid #b22234 !important;
    border-radius: 40px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 80px;
    margin-top: 50px;
       
}

.button-ebook:hover{
    border: none;
    color: #fff !important;
    background-color: #72131e !important;
  
}

.text-sucesso{
    padding-top: 20px;
    color: #2b9427;
}

@media (max-width: 600px) {
    .ebook-text{
        border-right: none;
        border-bottom: 3px solid #72131e;
    }
}