.motivacao{
 padding:50px;
}

.motivacao>h3{
color: #AC4E4E;
font-family: Inter;
font-size: 20px;
}

.motivacao>h1{
   color: #AC4E4E;
   font-family: Inter;
   font-size: 30px;
   line-height: 1.8;
   border-bottom:2px solid #AC4E4E;
}

.container-motivacao{
   margin-top: 100px;
   
}

.card-motivacao{
   background: linear-gradient(221deg, rgba(233,42,42,0.3981967787114846) 40%, rgba(241,235,238,0.7287289915966386) 59%, rgba(35,59,231,0.5438550420168067) 86%);
}






