.motivacao{
 padding:50px;
}

.motivacao>h3{
color: #AC4E4E;
font-family: Inter;
font-size: 20px;
}

.motivacao>h1{
   color: #AC4E4E;
   font-family: Inter;
   font-size: 30px;
   line-height: 1.8;
   border-bottom:2px solid #AC4E4E;
}

.container-motivacao{
   margin-top: 100px;
   
}

.card-motivacao{
   background: linear-gradient(221deg, #b22234 40%, rgba(241,235,238,0.7287289915966386) 59%, #3c3b6e 86%);
}

.button-motivacao{
   display: inline-block;
   background-color: #D4341E;
   border: 2px solid #ffffff;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   width: 200px;
   height: 84px;
   
}
.button-motivacao a{
   text-decoration: none;
   color: #ffffff;
}
.button-motivacao:hover{
   background-color: #AC4E4E;
}
.button-motivacao:hover a{
   color: #ffffff;
}





