.motivacao{
 padding:50px;
}

.motivacao>h3{
color: #b22234;
font-family: Inter;
font-size: 20px;
}

.motivacao>h1{
   color: #3c3b6e;
   font-family: Inter;
   font-size: 30px;
   line-height: 1.8;
   border-bottom:2px solid #3c3b6e;
   width: 250px;
}

.container-motivacao{
   margin-top: 50px;
      
}

.row-container{
  
   text-align: center;
}

.button-motivacao{
   display: inline-block;
   background-color: #D4341E;
   border: 2px solid #ffffff;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   width: 200px;
   height: 84px;
   
}
.button-motivacao a{
   text-decoration: none;
   color: #ffffff;
}
.button-motivacao:hover{
   background-color: #AC4E4E;
}
.button-motivacao:hover a{
   color: #ffffff;
}







