*{
    margin: 0;
    padding: 0;
}

/* ----- Header ----- */
 

.bg-body-tertiary{
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     background: rgba( 255, 255, 255, 0.35 );
     backdrop-filter: blur( 13.5px );
        
         
}

.text-dark{
    text-align: center;
    
        
}

.div-logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
 
}

.fonte{
    width: 200px;
    border-right: 2px solid #D9D9D9;
    margin-left: 5px;
    padding: 10px;
    
}


.text-logo{
    font-size: 13px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    
}

.me-auto {
   margin-left:30% ;    
   gap: 20px;
   font-weight: 700;
    
}

.nav-link{
    color: rgba(0,0,0,.55);
  
}

.nav-link a{
    text-decoration: none;
    color: rgba(0,0,0,.55);
    border-bottom: 2px solid rgba(0,0,0,.55);
}
.nav-link a:hover{
    text-decoration: none;
    color: rgb(80, 76, 76);
    
}

.img-sociais{
    width: 50px;
    cursor: pointer;
    
}

.p-sociais{
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
}


.active {
    text-decoration: none;
    color: #b22234!important; 
    border-bottom: 2px solid #b22234!important;
}






