.metodologia{
   display: flex;
   flex-direction: column;
   background-color: #ddb1b1;
   height: 100%;
   width: 100%;
   padding: 50px 40px;
   
   }

   .logo-biblia{
    width: 330px;
    
   }
        
   .metodologia>h1{
      color: #3c3b6e;
      font-family: 'Rowdies', cursive;
      font-size: 30px;
      line-height: 1.8;
   }
   .img-biblia{
      width: 350px;
      margin-top: 60px;
      border: 2px solid #3c3b6e;
      border-radius: 5px;
   }
   
   .text1{
      color: #3c3b6e;
      font-family: Inter;
      font-style: normal;
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 50px;
     
   }

   .img-biblia1{
      width: 350px;
      border: 2px solid #b22234;
      border-radius: 5px;
      
   }

   .text2{
      color: #b22234;
      font-family: 'Rowdies', cursive;
      font-style: normal;
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 50px;
     
   }
