.footer {
    background-color: #b22234;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top:15px solid #3c3b6e;
    position: relative;
    width: 100%;
    bottom: 0;
    
}

.button{
  width: 180px;  
  height: 60px;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  background-color: #F9EBEB;
  color: #553939;
  font-size: 15px;
    
}

.img-sociais-footer{
  
  width: 70px;
  cursor: pointer;
  
}

.p-sociais-footer{
  font-weight: 700;
  font-size: 14px;
  margin-left: 20px;
}

.employment{
    border-top: 0.5px solid #3c3b6e;
    margin-top: 20px;
    
}

.employment p{

    margin-bottom: 2px;
}

