.sobre {
    display: flex;
    flex-direction: column;
    background-color: #9bacda;
    height: 100%;
    width: 100%;
    padding: 50px 40px;
}
.sobre>h1{
    font-family: 'Rowdies', cursive;
    font-size: 20px;
     color: #b22234;
}
.sobre>h2{
    font-family: 'Rowdies', cursive;
    font-size: 30px;
    color: #3c3b6e;
    line-height: 1.8;
    border-bottom:2px solid #3c3b6e;
    width: 250px;
}

.text-sobre {
    display: flex;   
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.text {
   
    color: #b22234;
    font-family: Inter;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 50px;
   
   
    
}

.img-daize {
    width: 300px;
    height: 400px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #3c3b6e;

}

.button-sobre-mim{
    background-color: #f9ebeb;
    border: 2px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 84px;

}
.button-sobre-mim:hover{
   
   color: #553939;
   background-color: #f1cccc;
  
  }

    margin-left: 40px;
}

