.cursos{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-size: cover;
    border-top:2px solid #3c3b6e;
}

.cursos::before{
  content: '';
  position:absolute ;
  top: 0;
  right: 0;
  border: 60px solid transparent;
  border-top: 60px solid #3c3b6e;
  border-right: 60px solid #3c3b6e;
}

.cursos>h1{
  font-family: 'Rowdies', cursive;
  font-size: 3rem;
  text-align: center;
 
}
.cursos-h1{
    position: relative;
    font-family: 'Rowdies', cursive;
    font-size: 3rem;
    text-align: center;
   
  }

.cursos-h1::before{
position: absolute;
content: '';
width: 95px;
height: 5px;
background-color: #b22234;
bottom: 4px;
}

.card-cursos{
 margin: 20px;
 padding-top: 50px;
 
}

.react-multiple-carousel__arrow--right{
  right: 2px;
  background-color: #b22234 ;
 
}

.react-multiple-carousel__arrow--left{
  left: 2px;
  background-color: #b22234 ;
  
  
}

.accordion-header .accordion-button{
    font-family: 'Rowdies', cursive;
    background-color: #3c3b6e!important;
    color: #fff !important;
}

.accordion-button::after{
  display: none;
}
