.cursos{
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    height: 100%;
    width: 100%;
    padding: 50px 40px;
    
  
}

.cursos>h1{
   
    color: #3c3b6e;
    font-family: 'Rowdies', cursive;
    font-size: 30px;
    line-height: 1.8;
    border-bottom:2px solid #3c3b6e;
    width: 100px;
    
}

.card-cursos{
 margin: 20px;
 
}

.react-multiple-carousel__arrow--right{
  right: 2px;
  background-color: #b22234 ;
}

.react-multiple-carousel__arrow--left{
  left: 2px;
  background-color: #b22234 ;
}
.accordion-header .accordion-button{
    font-family: 'Rowdies', cursive;
    background-color: #3c3b6e!important;
    color: #fff !important;
}

.accordion-button::after{
  display: none;
}
